* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

/* navbar */
nav {
	background: url(https://img.freepik.com/foto-gratis/pizza-pizza-rellena-tomates-salami-aceitunas_140725-1200.jpg?size=626&ext=jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	backface-visibility: 100%;
}
.regular {
	list-style: none;
	padding: 15px 0;
	background-color: rgba(0, 0, 0, 0.8);
	/* position: fixed; */
	right: 0;
	left: 0;
}
.pasos {
	background-color: gray;
}
.li {
	display: inline;
	color: #fff;
	margin-left: 5px;
}
.li a {
	text-decoration: none;
	color: white;
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 20px;
}
.li a:hover {
	color: red;
	font-weight: bold;
}
.slogan {
	color: #fff;
	padding: 200px 0;
	text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.95);
}
/* car count */
.logo {
	margin-right: 50%;
	color: white;
	padding: 0 15px;
	letter-spacing: 5px;
	font-size: 30px;
	font-weight: 300;
}
.li--car {
	position: relative;
	position: fixed;
}
.li--salir {
	margin-right: 10px;
}
.car {
	position: absolute;
	left: 20px;
	font-size: 25px;
}

.car--count {
	position: relative;
	left: 40px;
	top: -15px;
	font-size: 20px;
	color: red;
	font-weight: bold;
	background-color: #fff;
	border-radius: 50%;
	padding: 0 5px;
}
/* dashboard */
.title {
	text-align: center;
	font-size: 40px;
	color: #6a6a6a;
	margin-top: 100px;
	font-weight: 100;
}
.container--home {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}
.container--home .card {
	width: 300px;
	height: 450px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
	background: rgb(235, 220, 220);
}
.container--home .card:hover {
	transform: translateY(-10px);
	box-shadow: 0 32px 36px rgba(0, 0, 0, 0.7);
}

.container--home .card img {
	height: 210px;
	width: 100%;
}

/* footer */
footer{
  background-color: rgba(238, 82, 39, 0.226);
}

.social_footer_ul {
  display:table;
	margin:15px auto ;
	list-style-type:none;
}
.social_footer_ul li {
  padding-left:20px;
	padding-top:10px;
	float:left;
}
.social_footer_ul li a
{
  color:rgb(0, 4, 24);
	border:1px solid rgb(0, 4, 24);
	padding:8px;
	border-radius:50%;}

.social_footer_ul li i {
  width:20px;
	height:20px;
	text-align:center;}

.footer_ul_amrc{
  text-align: center;
	list-style: none;
}
.footer_ul2_amrc{
	list-style: none;
}
